# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.DS_Store*
# User-specific stuff:
.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# Angular frontend (in FrontEndSource/yhj-frontend/)
FrontEndSource/yhj-frontend/node_modules
FrontEndSource/yhj-frontend/dist
FrontEndSource/yhj-frontend/.angular
FrontEndSource/yhj-frontend/.sass-cache
FrontEndSource/yhj-frontend/.DS_Store
FrontEndSource/yhj-frontend/.vscode/
FrontEndSource/yhj-frontend/.history
FrontEndSource/yhj-frontend/coverage
FrontEndSource/yhj-frontend/npm-debug.log
FrontEndSource/yhj-frontend/yarn-error.log
FrontEndSource/yhj-frontend/testem.log
FrontEndSource/yhj-frontend/README.md
FrontEndSource/yhj-frontend/.editorconfig


# IntelliJ
/out/

/logs
# Maven
/target/
/log/
/lib/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#ignore config files
src/main/resources/hibernate.cfg.xml
src/main/resources/cognito.properties
src/test/resources/database.properties
src/test/resources/hibernate.cfg.xml